# --- Python & Environment ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.Python

# --- Django Specific ---
db.sqlite3
db.sqlite3-journal
/static/
/media/
.env
local_settings.py

# Ignore compiled python files inside migrations
**/migrations/__pycache__/


# --- PyCharm/IDE Specific ---
.idea/
.vscode/
*.swp
*.bak

# --- System Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
pip-log.txt
/assignment/migrations/0001_initial.py
/blogs/migrations/0001_initial.py
/blogs/migrations/0002_alter_category_options_alter_category_table.py
/assignment/migrations/0002_sociallink_alter_about_options.py
/blogs/migrations/0003_blogs.py
/blogs/migrations/0004_alter_blogs_status.py
/assignment/migrations/__init__.py
/assignment/__init__.py
/blogs/migrations/__init__.py
/blogs/__init__.py
/assignment/tests.py
/blogs/tests.py
/dashboards/migrations/__init__.py
/dashboards/__init__.py
/dashboards/admin.py
/dashboards/apps.py
/dashboards/tests.py
